body {
    background-color: #333333;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 18ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4.5vw;
    color: #32174d
}

#quotes {
    color: #264348;
    font-size: 2.5vw;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%)
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%)
    }
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #202020;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 65%;
    padding-bottom: 3%;
    margin-left: 17%;
    height: 7vh;
    text-align: center;
    margin-bottom: 0.5vh;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: 0.5px solid gray
}

.navbar a {
    float: left;
    color: #e3dcca;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    color: violet;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.navbar .icon {
    display: none;
}

#About {
    width: 70%;
    margin: 1px solid black;
    background-color: #e3dcca;
    color: black;
    height: auto;
    margin-left: 15%;
    border-radius: 25px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.56);
    margin-bottom: 5vh;
    padding-bottom: 3vh;
    padding-top: 2vh;
}

#dp {
    width: 15vw;
    border-radius: 50%;
    margin-left: 39%;
}

#about-text {
    width: 80%;
    margin-left: 10%;
    font-size: 2vw;
    color: #32174d;
}

#about-heading {
    text-align: center;
    font-size: 3vw;
    margin: 0;
    padding: 0;
    color: #FFD700;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
}

#Projects {
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
    height: auto;
    background-color: #e3dcca;
    color: white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.56);
    margin-bottom: 5vh;
    padding-bottom: 3vh;
}

#projects-heading {
    text-align: center;
    font-size: 3vw;
    color: #FFD700;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
}

#projects-text {
    font-size: 2vw;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-row-gap: 3vw;
    grid-column-gap: 2vw;
    grid-template-columns: 50% 50%;
    width: 70%;
    margin-left: 5%;
    grid-auto-columns: 45%;
    margin-left: 13%;
    margin-right: 0;
}

.project-item {
    height: 50vh;
    padding: 0;
    background-color: white;
    border-radius: 15px;
    color: black;
    font-size: 1.4vw;
    box-shadow: 0 0 8px 2px gray;
}

.project-item:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.project-name {
    text-align: center;
    color: #FFD700;
    border-bottom: 1px solid black;
    padding-bottom: 1vh;
    padding-top: 1vh;
    text-shadow: 2px 2px 5px #333;
    background-color: #e34c26;
}

.project-desc {
    color: blue
}

.project-link {
    text-decoration: none;
    margin-left: 35%;
    background-color: #333;
    width: 25%;
    height: 5vh;
    border-radius: 5px;
}

.project-link:hover {
    color: red;
}

#Skills {
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
    height: auto;
    background-color: #e3dcca;
    color: white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.56);
    margin-bottom: 5vh;
    padding-bottom: 2vh;
}

#skills-heading {
    text-align: center;
    font-size: 3vw;
    color: #FFD700;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
}

#skills-grid {
    display: grid;
    grid-row-gap: 5vw;
    grid-column-gap: 2vw;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin-left: 20%;
}

.skill-item {
    font-size: 6vw;
}

.fa-html5 {
    color: #e34c26
}

.fa-css3-alt {
    color: #264de4
}

.fa-js-square {
    color: #323330;
}

.fa-node {
    color: #3c873a;
}

.fa-java {
    color: #f89820
}

.fa-cuttlefish {
    color: #5E97D0;
}

.fa-react {
    color: #61DBFB
}

#Experience {
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
    height: 80vh;
    align-items: center;
    background-color: #e3dcca;
    color: #333333;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.56);
    margin-bottom: 5vh;
}

#experience-heading {
    text-align: center;
    font-size: 3vw;
    color: #FFD700;
    font-weight: bolder;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
}

#exp-container {
    width: 75%;
    margin-left: 12%;
    font-size: 2vw;
}

#Connect {
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
    height: auto;
    background-color: #e3dcca;
    color: #333333;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.56);
    padding-bottom: 10vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#connect-heading {
    text-align: center;
    font-size: 3vw;
    color: #FFD700;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
}

#connect-text {
    font-size: 2vw;
    margin-left: 15%;
    margin-right: 15%;
}

#connect-icons {
    width: 70%;
    padding-left: 44%;
}

.fa-facebook-f {
    margin-left: 7%;
    font-size: 1.7vw;
    color: #1778f2
}

.fa-linkedin-in {
    margin-left: 7%;
    font-size: 2vw;
    color: #0077b5
}

.fa-github {
    margin-left: 7%;
    font-size: 2vw;
    color: white
}

#mail {
    padding-left: 40%;
    font-size: 1.4vw;
}

.ball {
    position: fixed;
    border-radius: 100%;
    opacity: 1;
    padding: 0;
    width: 75%
}

ol {
    font-size: 20px;
}