
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3vw;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%)
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%)
    }
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
    height: 7vh;
    text-align: center;
    margin-bottom: 1.5vh;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a green background color to the active link */

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}


/* Hide the link that should open and close the navbar on small screens */

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}


/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

a span {
    vertical-align: middle;
}

#About {
    width: 100%;
    margin: 1px solid black;
    height: 80vh;
}

#about-text {
    width: 75%;
    margin-left: 12%;
    font-size: 2vw;
}

#about-heading {
    text-align: center;
    font-size: 3vw;
    margin: 0;
    padding: 0
}

#Projects {
    height: 80vh;
}

#projects-heading {
    text-align: center;
    font-size: 3vw;
}

#projects-text {
    font-size: 2vw;
    text-align: center;
}

#Skills {
    height: 80vh;
}

#skills-heading {
    text-align: center;
    font-size: 3vw;
}

#skills-grid {
    display: grid;
    grid-row-gap: 5vw;
    grid-column-gap: 2vw;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin-left: 20%;
}

.skill-item {
    font-size: 8vw;
}

.fa-html5 {
    color: #e34c26
}

.fa-css3-alt {
    color: #264de4
}

.fa-js-square {
    color: #F0DB4F;
}

.fa-node {
    color: #3c873a;
}

.fa-java {
    color: #f89820
}

.fa-cuttlefish {
    color: #5E97D0;
}

#Experience {
    height: 80vh;
    align-items: center;
}

#experience-heading {
    text-align: center;
    font-size: 3vw;
}

#exp-container {
    width: 75%;
    margin-left: 12%;
    font-size: 2vw;
}

#Connect {
    height: 80vh;
}

#connect-heading {
    text-align: center;
    font-size: 3vw;
}

#connect-text {
    font-size: 2vw;
    margin-left: 15%;
    margin-right: 15%;
}

#connect-icons {
    width: 70%;
    padding-left: 35%;
}

.fa-facebook-f {
    margin-left: 7%;
    font-size: 2vw;
    color: #3b5998
}

.fa-linkedin-in {
    margin-left: 7%;
    font-size: 2vw;
    color: #0e76a8
}

.fa-github {
    margin-left: 7%;
    font-size: 2vw;
    color: black
}

#mail {
    padding-left: 40%;
    font-size: 1.4vw;
}

#dp {
    width: 15vw;
    border-radius: 50%;
    margin-left: 42%;
}
