<h1 class="heading">Movie Finder</h1>
<link rel="stylesheet" href="search.css">
<form action="results" method="GET" class="form">
    <input class="search-bar" name="movieName" type="text" placeholder="Enter the movie name">
    <p>
        <button class="submit">Submit</button>
    </p>

</form>

<p id="author">N e o N</p>